@font-face {
  font-family: "Fraunces";
  src: url(../assets/font/Fraunces-VariableFont_SOFT\WONK\opsz\wght.ttf);
}
@font-face {
  font-family: "Barlow";
  src: url(../assets/font/Barlow-Regular.ttf);
}
body {
  font-family: "Barlow";
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #80839740;
}
.background-container {
  background-image: url("../assets/images/background.png");
  height: 700px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.header-container {
  display: flex;
  justify-content: space-between;
  padding: 35px 48px 0px;
  margin: 0 auto;
}
.header-container nav ul {
  display: flex;
  align-items: center;
  gap: 47px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
.header-container nav ul a {
  color: #ffffff;
}
.header-container button {
  width: 140px;
  height: 56px;
  border-radius: 50px;
  border: none;
}
.intro-container {
  font-family: "Fraunces";
  display: flex;
  justify-content: center;
}
.intro-container p {
  padding-top: 105px;
  font-size: 56px;
  font-weight: 900;
  color: #ffffff;
}
.intro-container img {
  height: 107px;
  position: absolute;
  top: 360px;
}
.transform-container {
  display: flex;
}
.info-container {
  display: flex;
  width: 500px;
  flex-direction: column;
  padding: 158px 110px 157px 165px;
  gap: 40px;
  background-color: #fff;
}
.info-container h2 {
  font-size: 40px;
  font-weight: 900;
  color: #24303e;
  padding-bottom: 32px;
  width: 300px;
}
.info-container p {
  width: 450px;
  font-size: 18px;
  font-weight: 600;
  color: #808397;
  line-height: 1.5;
}
.info-container a {
  color: #24303e;
}
.section-container img {
  height: 600px;
}
.standout-container {
  display: flex;
}
.grafic-photography {
  display: flex;
}
.cherry-container {
  position: relative;
}
.cherry-description {
  position: absolute;
  position: absolute;
  top: 398px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.cherry-description h2 {
  font-size: 28px;
  font-weight: #24554a;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 27px;
}
.cherry-description p {
  color: #3e7467;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}
.orange-container {
  position: relative;
}
.orange-description {
  position: absolute;
  position: absolute;
  top: 398px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.orange-description h2 {
  font-size: 28px;
  font-weight: #19536c;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 27px;
}
.orange-description p {
  color: #3e7467;
  font-weight: 600;
  line-height: 1.5;

  text-align: center;
}
.clients {
  display: flex;
  /* background-color: aqua; */
  gap: 30px;
  padding: 160px 165px 160px;
  background-color: #fff;
}
.title-container {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 900;
  color: #a7aaad;
}

.profile {
  width: 350px;
}
.client-img {
  width: 72px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 58px;
}
.advice p {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 1.5;
  margin: 0 auto;
  color: #5b636d;
}
.profession-container {
  display: flex;
  align-items: center;
  padding-top: 68px;
  flex-direction: column;
  gap: 9px;
}
.profession-container h5 {
  font-size: 18px;
  font-weight: 900;
  color: #24303e;
}
.profession-container p {
  font-size: 14px;
  font-weight: 600;
  color: #a7aaad;
}
.footer {
  display: flex;
  flex-direction: column;
}
.footer-top-container img {
  width: 357px;
}
.footer-bottom-container {
  display: flex;
  flex-direction: column;
  background-color: #90d4c6;
}
.logo-cont {
  display: flex;
  margin: 0 auto;
}
.footer-bottom-container .logo-cont img {
  width: 170px;
}
.nav-cont {
  margin: 0 auto;
  padding-top: 40px;
}
.nav-cont ul,
a {
  display: flex;
  gap: 57px;
  color: #458d7e;
}
.socmedia-cont {
  display: flex;
  margin: 0 auto;
}
.socmedia-cont ul {
  display: flex;
  padding: 88px 0px 72px;
  gap: 28px;
}
