@font-face {
  font-family: "Fraunces";
  src: url(../assets/font/Fraunces-VariableFont_SOFT\WONK\opsz\wght.ttf);
}
@font-face {
  font-family: "Barlow";
  src: url(../assets/font/Barlow-Regular.ttf);
}

body {
  font-family: "Barlow";

  background-color: #80839740;
}
.main-container {
  width: 1440px;
  margin: 0 auto;
}
.background-container {
  background-image: url("../assets/images/background.png");
  height: 700px;
  width: 1440px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.header-container {
  display: flex;
  justify-content: space-between;
  padding: 34px 40px 105px;
}
.header-container .burger-menu {
  display: none;
}

.header-container nav ul,
a {
  display: flex;
  align-items: center;
  gap: 47px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
.header-container nav ul a {
  color: #ffffff;
}
.header-container button {
  font-family: "Fraunces";
  cursor: pointer;
  width: 140px;
  height: 56px;
  border-radius: 50px;
  border: none;
  font-size: 15px;
  font-weight: 700;
  color: #24303e;
}
.intro-container {
  display: flex;
  justify-content: center;
  font-family: "Fraunces";
}
.intro-container h1 {
  padding-top: 105px;
  font-size: 56px;
  font-weight: 900;
  color: #ffffff;
}
.intro-container img {
  height: 107px;
  position: absolute;
  top: 360px;
}
.transform-container {
  display: flex;
  width: 1440px;
  height: 600px;
}
.mainContainer {
  display: flex;
  flex-wrap: wrap;
}
.titleContainer {
  width: 720px;
  height: 600px;
  background-color: #fffcf8;
}
.titleContainer h2 {
  color: #24303e;
  font-weight: 900;
  font-size: 40px;
  width: 445px;
  margin-bottom: 32px;
  margin-left: 165px;
  padding-top: 158px;
}
.titleContainer p {
  width: 445px;
  margin-left: 165px;
  line-height: 30px;
  color: #808397;
}
.photoContainer {
  width: 720px;
  height: 600px;
}
.redAndYellowButton {
  all: unset;
  margin: 40px 0px 0px 173px;
}
.cherryCont {
  width: 720px;
  height: 600px;
}
.orangeCont {
  width: 720px;
  height: 600px;
}
.cherryCont {
  background-image: url(../assets/images/cherry.png);
  background-size: contain;
}
.orangeCont {
  background-image: url(../assets/images/orange.png);
  background-size: contain;
}
/* client advices */
.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 777px;
  background-color: #fff;
}
.title h2 {
  font-size: 20px;
  font-weight: 900;
  color: #a7aaad;
  font-family: "Fraunces";
}

.costumers {
  display: flex;
  margin-top: 81px;
  gap: 30px;
}

.profile {
  width: 350px;
}
.client-img {
  width: 72px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 58px;
}
.advice p {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 1.5;
  margin: 0 auto;
  color: #5b636d;
}
.profession-container {
  display: flex;
  align-items: center;
  padding-top: 68px;
  flex-direction: column;
  gap: 9px;
}
.profession-container h5 {
  font-size: 18px;
  font-weight: 900;
  color: #24303e;
  font-family: "Fraunces";
}
.profession-container p {
  font-size: 14px;
  font-weight: 600;
  color: #a7aaad;
}
.footer {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 797px;
}
.footer-top-container {
  display: flex;
  width: 1440px;
  height: 447px;
}
.footer-top-container img {
  width: 360px;
  height: 447px;
}
.footer-bottom-container {
  display: flex;
  flex-direction: column;
  background-color: #90d4c6;
}
.logo-cont {
  display: flex;
  margin: 0 auto;
}
.footer-bottom-container .logo-cont img {
  width: 170px;
  padding-top: 72px;
}
.nav-cont {
  margin: 0 auto;
  padding-top: 40px;
}
.nav-cont ul,
a {
  display: flex;
  gap: 57px;
  color: #458d7e;
}
.socmedia-cont {
  display: flex;
  margin: 0 auto;
}
.socmedia-cont ul {
  display: flex;
  padding: 88px 0px 72px;
  gap: 28px;
}

@media (max-width: 375px) {
  .background-container img {
    width: 375px;
  }
}
@media (max-width: 375px) {
  .background-container {
    background-image: url(../assets/images/orangefoto.png);
    width: 375px;
  }
}
@media (max-width: 375px) {
  .header-container .burger-menu {
    display: flex;
  }
}
@media (max-width: 375px) {
  nav {
    width: 375px;
    display: none;
  }
}
@media (max-width: 375px) {
  .header-container img {
    width: 123px;
    height: 24px;
  }
}
@media (max-width: 375px) {
  .intro-container {
    display: flex;
    width: 327px;
    height: auto;
    top: 136px;
    margin: 0 auto;
  }
}
@media (max-width: 375px) {
  .intro-container h1 {
    font-size: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 327px;
  }
}
/* <!-- main sections -->*/
